:root {
  /* colors */
  --clr-primary-hsl-300: 179, 62%, 43%;
  --clr-primary-hsl-500: 71, 73%, 54%;

  --clr-primary-300: hsl(var(--clr-primary-hsl-300));
  --clr-primary-500: hsl(var(--clr-primary-hsl-500));

  --clr-neutral-hsl-100: 204, 43%, 93%;
  --clr-neutral-hsl-200: 218, 22%, 67%;

  --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
  --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));

  /* font-weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Karla", sans-serif;
}

body {
  padding: 32px;
  background-color: var(--clr-neutral-100);
}

main {
  padding: 24px;
  border-radius: 8px;
  background-color: white;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 1.2em;
}

p {
  font-size: 1.4rem;
  line-height: 1.8em;
}

/* community section */
.title {
  font-size: 2rem;
  color: var(--clr-primary-300);
}

.community .subtitle {
  color: var(--clr-primary-500);
}

.community p {
  color: hsl(var(--clr-neutral-hsl-200), 0.8);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
