:root {
  /* colors */
  --clr-primary-hsl-300: 179, 62%, 43%;
  --clr-primary-hsl-500: 71, 73%, 54%;

  --clr-primary-300: hsl(var(--clr-primary-hsl-300));
  --clr-primary-500: hsl(var(--clr-primary-hsl-500));

  --clr-neutral-hsl-50: 0, 0%, 100%;
  --clr-neutral-hsl-100: 204, 43%, 93%;
  --clr-neutral-hsl-200: 218, 22%, 67%;

  --clr-neutral-50: hsl(var(--clr-neutral-hsl-50));
  --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
  --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));

  /* font-weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Karla", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 32px;
  background-color: var(--clr-neutral-100);
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 635px;
  margin: 16px 0px;
  border-radius: 4px;
  background-color: var(--clr-neutral-50);
  overflow: hidden;
  box-shadow: 0px 0px 25px -3px hsl(var(--clr-neutral-hsl-200), 0.8);
}

section {
  flex: 1 1 270px;
  padding: 24px 22px;
  color: var(--clr-neutral-50);
}

.subtitle {
  margin-bottom: 1.2em;
  font-size: 1.7rem;
  line-height: 1.3em;
}

p {
  font-size: 1.5rem;
  line-height: 1.8em;
}

/* community section */
.community {
  flex: 1 1 auto;
  max-width: 510px;
  padding: 26px 22px 32px;
}

.title {
  margin-bottom: 1.25em;
  font-size: 2rem;
  color: var(--clr-primary-300);
}

.community .subtitle {
  font-size: 1.5rem;
  color: var(--clr-primary-500);
}

.community p {
  font-size: 1.4rem;
  color: hsl(var(--clr-neutral-hsl-200), 0.8);
}

/* subscription section */
.subscription {
  background-color: var(--clr-primary-300);
}

.price-container {
  display: flex;
  gap: 12px;
  margin: 24px 0px 8px;
  color: hsl(var(--clr-neutral-hsl-50), 0.5);
}

.price {
  font-size: 3.2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-50);
}

button {
  width: 100%;
  max-width: 270px;
  height: 50px;
  margin-top: 28px;
  padding: 16px;
  border-radius: 8px;
  border-style: none;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: var(--fw-bold);
  color: white;
  background-color: var(--clr-primary-500);
  box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  font-size: 1.6rem;
  color: var(--clr-primary-500);
  background-color: var(--clr-neutral-50);
}

/* whyus section */
.why-us {
  background-color: hsl(var(--clr-primary-hsl-300), 0.8);
}

.why-us ul li {
  font-size: 1.4rem;
  line-height: 1.4em;
  color: hsl(var(--clr-neutral-hsl-50), 0.6);
  list-style: none;
}

/* footer */
footer {
  position: absolute;
  bottom: 0px;
  margin: 10px;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  display: inline-block;
  padding: 0 0.25rem;
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--clr-primary-300);
  box-shadow: inset 0px 0 0 0 var(--clr-primary-300);
  transition: all 0.3s ease-in-out;
}

.attribution a:hover {
  box-shadow: inset 100px 0 0 0 var(--clr-primary-300);
  color: var(--clr-neutral-50);
}

@media screen and (min-width: 672px) {
  main {
    border-radius: 8px;
  }

  section,
  .community {
    padding: 40px;
  }

  .community {
    max-width: 590px;
  }
  .title {
    margin-bottom: 0.8em;
    font-size: 2.4rem;
  }

  .community .subtitle {
    font-size: 1.8rem;
    margin-bottom: 0.6em;
  }

  .community p {
    font-size: 1.5rem;
  }
}
